<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You have been logged in</title>
  </head>
  <body>
    <div id="attendance">
        <h2>Welcome!</h2>
        Thank you for submitting your attendance  <%- firstName %>  <%- lastName %>.
        <br><br>
        Your attendance has been reccorded for UID:  <%- uid %>.    
        <br><br>   
        <div id = "emoji">
          &#128154;
        </div>
  </div>

    <style>
      body {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        margin: 0; 
        background-image: url("/images/window.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      #attendance {
        font-family: cursive, "Times New Roman", Times, serif;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 200px;
        height: 350px;
        font-size: 16px;
        margin: 40px auto 0;
        text-align: center;
        color: rgb(138, 154, 91);
      }

      #emoji{
        font-size: 60px;
      }
    </style>
  </body>
</html>
